/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
@tema .dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */

  -webkit-transition-property: background-color;
  -webkit-transition-duration: .3s;
}
@tema .dijitButton .dijitButtonNode,
@tema .dijitDropDownButton .dijitButtonNode,
@tema .dijitComboButton .dijitButtonNode,
@tema .dijitToggleButton .dijitButtonNode {
  /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

  border: 1px solid #769dc0;
  padding: 2px 4px 4px 4px;
  background-image: url("images/button.png");
  background-position: center top;
  background-repeat: repeat-x;
  background-color: #e9f4fe;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
@tema .dijitComboButton .dijitArrowButton {
  border-left-width: 0;
  padding: 4px 2px 4px 2px;
  /* TODO: still needed? */

}
/*arrow styles for down/up/left/right directions*/
@tema .dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-image: url("images/buttonArrows.png");
  background-repeat: no-repeat;
  background-position: -51px 53%;
}
@tema .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}
@tema .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}
@tema .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
@tema .dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}
@tema .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}
@tema .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}
@tema .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}
@tema .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}
/* hover status */
@tema .dijitButtonHover .dijitButtonNode,
@tema .dijitDropDownButtonHover .dijitButtonNode,
@tema .dijitComboButton .dijitButtonNodeHover,
@tema .dijitComboButton .dijitDownArrowButtonHover,
@tema .dijitToggleButtonHover .dijitButtonNode {
  background-color: #abd6ff;
  color: #000000;
  -webkit-transition-duration: .2s;
}
/* checked status */
@tema .dijitButtonActive .dijitButtonNode,
@tema .dijitDropDownButtonActive .dijitButtonNode,
@tema .dijitComboButtonActive .dijitButtonNode,
@tema .dijitToggleButtonActive .dijitButtonNode {
  background-color: #abd6ff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition-duration: .1s;
}
/* disabled status */
@tema .dijitButtonDisabled,
@tema .dijitDropDownButtonDisabled,
@tema .dijitComboButtonDisabled,
@tema .dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}
@tema .dijitButtonDisabled .dijitButtonNode,
@tema .dijitDropDownButtonDisabled .dijitButtonNode,
@tema .dijitComboButtonDisabled .dijitButtonNode,
@tema .dijitToggleButtonDisabled .dijitButtonNode {
  background-position: 0 -149px;
  background-color: #efefef;
  border: solid 1px #d3d3d3;
  color: #818181;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
@tema .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
/* for ComboButton */
@tema table.dijitComboButton {
  border-collapse: separate;
  /* override dijit.css so that ComboBox rounded corners work */

}
.dj_ie6 @tema .dijitButtonNode {
  background-image: none;
}
@tema .dijitComboButton .dijitStretch {
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
@tema .dijitComboButton .dijitArrowButton {
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
