/* claro/form/Common.css */
/*========================= common css =========================*/
/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */
@tema .dijitTextBoxError .dijitValidationContainer {
  background-color: #d46464;
  background-image: url('images/error.png');
  background-position: top center;
  border: solid #d46464 0;
  border-left-width: 1px;
  width: 9px;
}
@tema .dijitTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent !important;
  /* so the INPUT doesn't obscure the border in rtl+a11y */

}
/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
@tema .dijitTextArea, @tema .dijitInputField .dijitPlaceHolder {
  padding: 2px;
}
@tema .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}
.dj_gecko @tema .dijitTextBox .dijitInputInner, .dj_webkit @tema .dijitTextBox .dijitInputInner {
  padding: 1px;
}
@tema .dijitTextBox, @tema .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */

  border-color: #b5bcc7;
  -webkit-transition-property: background-color, border;
  -webkit-transition-duration: .35s;
}
@tema .dijitTextBox {
  background-color: #ffffff;
}
/* hover */
@tema .dijitTextBoxHover, @tema .dijitTextBoxHover .dijitButtonNode {
  border-color: #769dc0;
  -webkit-transition-duration: .25s;
}
@tema .dijitTextBoxHover {
  background-color: #e9f4fe;
  background-image: url('images/textBox_back.png');
  background-repeat: repeat-x;
}
/* error state */
@tema .dijitTextBoxError, @tema .dijitTextBoxError .dijitButtonNode {
  border-color: #d46464;
}
@tema .dijitTextBoxError, @tema .dijitTextBoxError .dijitInputContainer {
  background-color: #ffffff;
}
/* focused state */
@tema .dijitTextBoxFocused, @tema .dijitTextBoxFocused .dijitButtonNode {
  border-color: #769dc0;
  -webkit-transition-duration: .1s;
}
@tema .dijitTextBoxFocused {
  background-color: #ffffff;
  background-image: url('images/textBox_back.png');
  background-repeat: repeat-x;
}
@tema .dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
@tema .dijitTextBoxErrorFocused, @tema .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #ce4f4f;
}
/* disabled state */
@tema .dijitTextBoxDisabled, @tema .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #d3d3d3;
}
@tema .dijitTextBoxDisabled, @tema .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #efefef;
  background-image: none;
  color: #818181;
}
/*========================= for special widgets =========================*/
/* Input boxes with an arrow (for a drop down) */
@tema .dijitComboBox .dijitArrowButtonInner {
  background-image: url("images/commonFormArrows.png");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
  border: 1px solid #ffffff;
}
@tema .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
@tema .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
@tema .dijitTextBox .dijitInputInner, @tema .dijitTextBox .dijitValidationContainer {
  padding: 1px 0;
}
@tema .dijitComboBox .dijitButtonNode {
  background-color: #efefef;
  background-image: url("images/formHighlight.png");
  background-repeat: repeat-x;
}
/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
@tema .dijitComboBoxOpenOnClickHover .dijitButtonNode, @tema .dijitComboBox .dijitDownArrowButtonHover {
  background-color: #abd6ff;
}
@tema .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner, @tema .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* Arrow Button change when drop down is open */
@tema .dijitComboBox .dijitHasDropDownOpen {
  background-color: #7dbefa;
  background-position: 0 -177px;
  padding: 1px;
}
@tema .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
/* disabled state */
@tema div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
	 * (@tema .dijitComboBoxDisabled .dijitArrowButtonInner) */

  background-position: 0 50%;
  background-color: #efefef;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 @tema .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
/* ie6 doesn't support transparent background img */
.dj_ie6 @tema .dijitTextBox, .dj_ie6 @tema .dijitComboBox .dijitButtonNode {
  background-image: none;
}
.dj_borderbox @tema .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox @tema .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
