
{% extends "dojango/base_i18n.html" %}
{%load i18n%}
{% block dojango_header_extra %}
   
   
    <style type="text/css">
  /*  @import "{{ DOJANGO.DIJIT_URL}}/themes/wm_graphite/theme.css";*/

@import "{{DOJANGO.DIJIT_URL}}/themes/grafito/grafito.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/GridContainer.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/DndGridContainer.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/ExpandoPane.css";
@import "{{DOJANGO.DOJOX_URL}}/widget/Portlet/Portlet.css";
@import "{{DOJANGO.DOJOX_URL}}/widget/Pager/Pager.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/ExpandoPane.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/FloatingPane.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/ResizeHandle.css";
@import "{{DOJANGO.DOJOX_URL}}/layout/resources/ScrollPane.css";
@import "{{DOJANGO.DOJO_URL}}/resources/dnd.css";
@import "{{DOJANGO.DOJOX_URL}}/grid/resources/Grid.css";
@import "{{DOJANGO.DOJOX_URL}}/grid/enhanced/resources/EnhancedGrid.css";
@import "{{DOJANGO.DOJOX_URL}}/grid/enhanced/resources/Pagination.css";
@import "{{DOJANGO.DOJOX_URL}}/grid/enhanced/resources/Common.css";
@import "{{DOJANGO.DOJOX_URL}}/form/resources/ListInput.css";
  html, body { width: 100%; height: 100%; margin: 0; }
    </style>
    	
    	 <link rel="stylesheet" href="{{DOJANGO.BASE_MEDIA_URL}}/css/base.css" type="text/css"/>
    
   
    
   
    
 
    
    
{%endblock dojango_header_extra %}

{%block dojango_content %}


        			
{%endblock dojango_content %}